@import "tailwindcss";

:root {
  --thehasa-blue: #318ec9;
  --thehasa-red: #ed1c24;
  --thehasa-white: #ffffff;

  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  color: #1f2937;
  background: var(--thehasa-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--thehasa-white);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}